@font-face {
    font-family: 'Montserrat', sans-serif; 
    src: url('../fonts/Monserrat/Montserrat-VariableFont_wght.ttf');
}



@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}